    div {
        display: block;
        unicode-bidi: isolate;
    }


    #header {
        position: fixed;
        width: 100%;
        z-index: 1000;

    }

    #header_conteudo {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #header_logo-container {
        display: flex;
        align-items: center;
    }

    #header_logo-img-cont {
        width: 5rem;
        height: 5rem;
        border-radius: 50px;
        overflow: hidden;

    }

    #header_logo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }